ha/wican_example_flow.json
[{"id":"c11843ebf9246b34","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"d897d06ca9cc0590","type":"mqtt in","z":"c11843ebf9246b34","name":"","topic":"wican/device_id/can/rx","qos":"0","datatype":"auto-detect","broker":"a3221ddd636fd541","nl":false,"rap":true,"rh":0,"inputs":0,"x":530,"y":800,"wires":[["b5c51ef05fb34a12","8cf0115436d3fef6"]]},{"id":"f174886b9f84065e","type":"mqtt in","z":"c11843ebf9246b34","name":"","topic":"wican/device_id/status","qos":"0","datatype":"auto-detect","broker":"a3221ddd636fd541","nl":false,"rap":true,"rh":0,"inputs":0,"x":530,"y":600,"wires":[["2f2215a9609be7a3"]]},{"id":"d6ae5410d4d73060","type":"mqtt out","z":"c11843ebf9246b34","name":"Publish to WiCAN","topic":"wican/device_id/can/tx","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a3221ddd636fd541","x":1350,"y":600,"wires":[]},{"id":"53398018d8604c78","type":"function","z":"c11843ebf9246b34","name":"Send Get fuel req","func":"\n\nmsg.payload = { \"bus\": \"0\", \"type\": \"tx\", \"frame\": [{ \"id\": 2016, \"dlc\": 8, \"rtr\": false, \"extd\": false, \"data\": [2, 1, 47, 170, 170, 170, 170, 170] }] };\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":720,"wires":[["d6ae5410d4d73060"]]},{"id":"b5c51ef05fb34a12","type":"function","z":"c11843ebf9246b34","name":"Parse Fuel RSP","func":"\nvar obj = Object(); \n\nfor(let i = 0; i < msg.payload.frame.length; i++){\n    //check frame id\n    if (msg.payload.frame[0].id == 2024 && msg.payload.frame[0].data[2] == 47){\n        obj.fuel_level = msg.payload.frame[0].data[3] * (1 / 2.55);\n        obj.fuel_level = Math.round(obj.fuel_level * 100) / 100;\n        msg.payload = obj;\n        return msg;\n    }\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":800,"wires":[["b98b59c966f60b79"]]},{"id":"b98b59c966f60b79","type":"mqtt out","z":"c11843ebf9246b34","name":"Publish fuel level to HA","topic":"CAR1/Fuel_Level","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a3221ddd636fd541","x":1370,"y":800,"wires":[]},{"id":"2f2215a9609be7a3","type":"function","z":"c11843ebf9246b34","name":"0100","func":"\nif(msg.payload.status == \"online\"){\n    msg.payload = { \"bus\": \"0\", \"type\": \"tx\", \"frame\": [{ \"id\": 2016, \"dlc\": 8, \"rtr\": false, \"extd\": false, \"data\": [2, 1, 0, 170, 170, 170, 170, 170] }] };\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":600,"wires":[["d6ae5410d4d73060"]]},{"id":"8cf0115436d3fef6","type":"function","z":"c11843ebf9246b34","name":"check Init Resp","func":"\nvar obj = Object(); \nfor (let i = 0; i < msg.payload.frame.length; i++) {\n    if (msg.payload.frame[0].id == 2024 && msg.payload.frame[0].data[1] == 65 && msg.payload.frame[0].data[2] == 0){\n\n        return msg;\n    }\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":720,"wires":[["53398018d8604c78"]]},{"id":"2b0fdfd345c70c85","type":"mqtt in","z":"c11843ebf9246b34","name":"","topic":"wican/device_id/can/rx","qos":"0","datatype":"auto-detect","broker":"a3221ddd636fd541","nl":false,"rap":true,"rh":0,"inputs":0,"x":530,"y":420,"wires":[["06f2129337df3f53"]]},{"id":"439b4ba43bc22264","type":"debug","z":"c11843ebf9246b34","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":320,"wires":[]},{"id":"8d062f82d786743c","type":"mqtt in","z":"c11843ebf9246b34","name":"","topic":"wican/device_id/status","qos":"0","datatype":"auto-detect","broker":"a3221ddd636fd541","nl":false,"rap":true,"rh":0,"inputs":0,"x":530,"y":220,"wires":[["314db33b5f26f14e"]]},{"id":"b9eab1ae011789af","type":"mqtt out","z":"c11843ebf9246b34","name":"Publish Get Temp req to WiCAN","topic":"wican/device_id/can/tx","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a3221ddd636fd541","x":1150,"y":220,"wires":[]},{"id":"314db33b5f26f14e","type":"function","z":"c11843ebf9246b34","name":"Send Get  Amb Temp req","func":"\n\nmsg.payload = { \"bus\": \"0\", \"type\": \"tx\", \"frame\": [{ \"id\": 2015, \"dlc\": 8, \"rtr\": false, \"extd\": false, \"data\": [2, 1, 70, 170, 170, 170, 170, 170] }] };\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":220,"wires":[["b9eab1ae011789af","439b4ba43bc22264"]]},{"id":"06f2129337df3f53","type":"function","z":"c11843ebf9246b34","name":"Parse Amb Temp RSP","func":"var obj = Object();\n\nfor (let i = 0; i < msg.payload.frame.length; i++) {\n    //check frame id\n    if (msg.payload.frame[0].id == 2024 && msg.payload.frame[0].data[2] == 70) {\n        obj.amb_temp = msg.payload.frame[0].data[3] - 40;\n        msg.payload = obj;\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":420,"wires":[["5959e252f55b00bd","439b4ba43bc22264"]]},{"id":"5959e252f55b00bd","type":"mqtt out","z":"c11843ebf9246b34","name":"Publish Amb Temp to HA","topic":"CAR1/Amb_Temp","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a3221ddd636fd541","x":1130,"y":420,"wires":[]},{"id":"a3221ddd636fd541","type":"mqtt-broker","name":"local","broker":"192.168.31.2","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]
